{% extends "::base.html.twig" %}

{% block body %}
<h2>Affiche tous les utilisateurs</h2>

{% for utilisateur in utilisateurs  %}
    {% if loop.first %}
        <ul>
     {% endif %}       
    <li>
    <a href="{{ path('utilisateur_read',{'id':utilisateur.id})}}">{{utilisateur.nom}}</a>
    - <a href="{{ path('utilisateur_edit',{'id':utilisateur.id})}}">Editer</a>
    - <a href="{{ path('utilisateur_delete',{'id':utilisateur.id})}}">Supprimer</a>
    </li><br/>
     {% if loop.last %}
        <ul>
     {% endif %} 
{% endfor %}

<p><a href="{{path('utilisateur_add')}}">Ajouter un utilisateur</a></p>

{% endblock %}