{% extends "::base.html.twig" %}

{% block body %}
    
<h2>Afficher l'utilisateur {{ utilisateur.nom }}</h2>

<h1>{{ utilisateur.id }}</h1>

<p>{{ utilisateur.login }}</p>

<p>{{ utilisateur.password }}</p>

<p>{{ utilisateur.dateCreation | date('d-m-Y') }}</p>

<p>{{ utilisateur.nom }}</p>


{% for article in utilisateur.articles  %}
    {% if loop.first %}
        <ul>
     {% endif %}       
    <li><a href="{{ path('article_read',{'id':article.id})}}">{{article.titre}}</a></li><br/>
     {% if loop.last %}
        <ul>
     {% endif %} 
{% endfor %}


{% endblock %}